@import "../../../styles/variables.scss";

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    color: $font-color;
    
    h1 {
        text-align: center;
        margin-block: 1rem;
    }

    hr {
        width: 80%;
    }
}



